@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: "#d0ba90";
    --secondary: "#c1662e";
    --coff_black: "#16130f";
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-coff_black: var(--coff_black);
}