@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d0ba90;
  --secondary: #c1662e;
  --coff_black: #16130f;
}

@layer components {

  .tab-btn {
    @apply px-8 py-3 rounded-full border border-secondary font-medium transition-all duration-300 text-coff_black bg-white;
  }

  .tab-btn:hover {
    @apply bg-secondary text-white;
  }

  .tab-btn.active {
    @apply bg-secondary text-white border-secondary;
  }

}

@layer components {
  .avail-faq-item {
    @apply border border-primary rounded-xl overflow-hidden;
  }

  .avail-faq-title {
    @apply flex items-center justify-between cursor-pointer md:px-8 px-4 md:py-5 py-4;
  }

  .avail-faq-content {
    @apply max-h-0 overflow-hidden transition-all duration-300;
  }

  .avail-faq-content.open {
    @apply border-t border-primary;
  }

  .avail-faq-icon {
    @apply text-secondary transition-transform duration-300;
  }

  .avail-faq-item.active .avail-faq-icon {
    @apply rotate-180;
  }

  .footer_title {
    @apply text-xl font-semibold text-primary mb-5 relative pb-3;
  }

  .footer_title span {
    @apply absolute left-0 bottom-0 w-14 h-0.5 bg-secondary;
  }

  .footer_link {
    @apply text-[#D8D3CB] hover:text-secondary transition duration-300;
  }

  footer .menu li a {
    @apply text-[#D8D3CB] hover:text-secondary transition duration-300;
  }

}

@layer components {

  .faq-item {
    @apply border-b;
    border-color: rgb(208 186 144 / 20%);
  }

  .faq-title {
    @apply w-full flex justify-between items-center py-7 text-left text-white text-xl font-semibold transition-all duration-300 hover:text-primary;
  }

  .faq-icon {
    @apply text-primary transition-all duration-300;
  }

  .faq-item.active .faq-icon {
    @apply rotate-180 text-secondary;
  }

  .faq-content {
    @apply overflow-hidden max-h-0 transition-all duration-300;
  }

  .faq-content.open {
    @apply pb-7;
  }

  .faq-body {
    @apply text-[#D6D1CB] leading-8 text-base max-w-3xl;
  }

}

.slick-prev {
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 26px;
}

.slick-prev,
.slick-next {
  top: 35%;
}

.count_box span {
  @apply block border-b-2 border-primary max-w-[61px] w-full sm:ml-0 ml-auto mr-auto;
}

.count_box h3 {
  @apply lg:text-5xl md:text-3xl text-xl font-bold text-white sm:my-6 mt-3 mb-0 sm:text-left text-center;
}

.count_box p {
  @apply sm:text-lg text-sm font-normal text-white sm:text-left text-center;
}

.step {
  @apply relative flex md:flex-row flex-col md:gap-[30px] gap-3;
}

.step span {
  @apply text-xl font-medium text-white bg-secondary p-[18px] border-[18px] border-[#CCCCCCB5]/70 rounded-full flex items-center justify-center w-[89px] h-[89px] sm:ml-0 ml-auto mr-auto;
}

.step h4 {
  @apply text-xl font-medium text-white mb-2 sm:text-left text-center;
}

.step p {
  @apply text-sm font-light text-white sm:text-left text-center;
}


.hale_input {
  @apply text-sm min-h-[50px] font-medium text-[#7C7C7C] placeholder:text-[#7C7C7C] bg-[#f3f2ee] px-7 border border-transparent focus:border-secondary outline-none rounded-full w-full;
}

.form_row {
  @apply w-full flex flex-col;
}

.form_btn {
  @apply text-lg md:leading-[56px] font-normal text-white bg-secondary hover:bg-white hover:text-secondary px-7 border border-secondary hover:border-secondary focus:border-secondary outline-none rounded-full w-full;
}

.form_icon {
  @apply absolute right-4 top-1/2 text-xs text-gray-500 -translate-y-1/2;
}


.feature_box {
  @apply w-full border border-secondary rounded-3xl overflow-hidden;
}

.feature_box h3 {
  @apply lg:text-xl text-lg font-semibold text-coff_black mb-3;
}

.feature_box p {
  @apply md:text-lg text-base font-normal text-coff_black;
}
